<%= render "shared/header" %>

<div class="main">
  <div class="user__wrapper">
    <div class="page-heading">
    <span><%= @article.content_date %></span>

<% if Favorite.find_by(user_id: current_user.id, article_id: @article.id) %>
    <%= form_with(model: @favorite, url: favorite_path(@article.id), local: true, method: :delete) do |f| %>
          <%= f.hidden_field :article_id, value: @article.id %>
          <%= f.submit '♯' %>
    <% end %>
<% else %>
    <%= form_with(model: @favorite, url: favorites_path, method: :post, local: true) do |f| %>
          <%= f.hidden_field :article_id, value: @article.id %>
          <%= f.submit '♡' %>
    <% end %> 
<% end %>

  </div>
    <div class="content-img">
      <%= image_tag @article.image ,class:"content-box-img" %>
    </div>
     <div class="content-text">
      <span><%= simple_format(h(@article.content)) %></span>
    </div>
    <%=link_to 'もどる', baby_articles_path(@baby.id), class:"back-btn" %>

      <% if user_signed_in? && current_user.id == @baby.user.id %>
      <%=link_to '情報の編集', edit_baby_article_path(@baby.id, @article.id), class:"delete-btn" %>
      <%=link_to '削除', baby_article_path(@baby.id, @article.id),method: :delete, class:"delete-btn" %>
      <% else %>
      <% end %>

</div>
